p {
	line-height: 30px;
}

.text {
	min-width: 100px;
	max-width: 700px; 
	margin: 0 auto;
}

.klejb {
	font-size: 20px;
	text-align: center;
}

@media only screen and (max-width: 480px) {
	.text {
		margin-left: 3% !important;
		margin-right: 3% !important;    
		max-width: 100% !important;     
	}

	.klejb {
		font-size: 3vw !important;
	}
}
img {
	max-width: 100%;
}
a {
	color: #41754c;
}
li {
	list-style-image: url('assets/img/bullet.png');
	padding-top: 5px;
}
